.header__mobile {
	max-height: 96px;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem 0;
}

.header__wrapper {
	background: var(--main-color-white);
	position: relative;
	z-index: 99999;
}

.header__burger-button {
	width: 3rem;
	height: 3rem;
}

.header__nav-mobile {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
	padding: 24px;
	display: flex;
	justify-content: right;
	border-top: 2px solid #6c6f754d;
	background: var(--main-color-white);
	position: absolute;
	left: 0;
	top: 6rem;
	max-width: 100vw;
	width: 100%;
	z-index: 999;
}

.header__nav-mobile.active {
	opacity: 1;
	pointer-events: auto;
}

.header__nav-mobile-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.header__nav-mobile-list li {
	text-align: right;
}

.header__nav-item a {
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	color: var(--accent-color-gray);
}

.header__mobile-phone {
	font-weight: 700;
	font-size: 24px;
	line-height: 100%;
	color: var(--main-color-blue);
}

.overlay {
	position: fixed;
	backdrop-filter: blur(0.75rem);
	background-color: #7e7c7c66;
	height: 100%;
	width: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	pointer-events: none;
	transition: opacity 0.5s ease;
	z-index: 999;
}

.overlay.active {
	opacity: 1;
	pointer-events: auto;
}

.header__desktop {
	background-color: var(--main-color-white);
}

.header__desktop-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 96px;
}

.header__desktop-list {
	display: flex;
	gap: 24px;
}

@media (min-width: 48.1rem) {
	.header__container {
		display: none;
	}
	.header__nav-mobile,
	.header__nav-mobile.active,
	.overlay {
		display: none;
	}
}

@media (max-width: 769px) {
	.header__desktop {
		display: none;
	}
}
