.search-block {
	background-color: var(--main-color-dark-blue);
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	padding: 3rem;
	height: 14.875rem;
}

.search-block__title {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.search-block__title img {
	width: 8.0625rem;
}

.search-block__title h2 {
	color: var(--main-color-white);
}

.search-block__form {
	background-color: var(--main-color-white);
	max-width: 591px;
	width: 100%;
	padding: 1.5rem;
}

.search-block__form-button {
	width: 100%;
	height: 3rem;
	margin-top: 1rem;
}

.search-block__input {
	display: flex;
	align-items: center;
	gap: 16px;
}

.search-block__input input {
	max-width: 11rem;
	width: 100%;
	border: none;
	font-weight: 400;
	font-size: 1rem;
	line-height: 100%;
	height: 30px;
	color: var(--accent-color-gray);
}

.search-block__input input:focus {
	outline: none;
	border: none;
}

.search-block__input input:focus-visible {
	outline: 2px solid black;
}

@media (max-width: 768px) {
	.search-block {
		flex-direction: column;
		height: 290px;
		gap: 16px;
	}
	.search-block__title img {
		margin-top: 24px;
	}
	.search-block {
		height: auto;
	}
}
